HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
hcw-redis-springboot-start/logs/hcw-redis-springboot-start.2020-05-09.log
logs/ding-api-gateway.2020-05-08.log
logs/hcw-redis-springboot-start.2020-05-08.log
logs/hcw-redis-springboot-start.2020-05-09.log
logs/hcw-kafka-springboot-start.2020-05-09.log
hcw-kafka-springboot-starter/logs/hcw-kafka-springboot-start.2020-05-09.log
